.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    margin-bottom: 1px solid #F5F5F5;
    .box{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        .logo{
            width: 28px;
            height: 28px;
        }
    }
}
