#root {
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
}

@media (max-width: 1200px) {
  #root {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    height: 100vh;

  }
}
